{% extends 'base-about.html' %}
{% load static %}

{% block content %}	



	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'website/images/bg-01.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Babyshop was founded a vision of building the best online store in the Nordics for children's clothing. Our goal is to inspire our customers by offering an exclusive shopping experience and excellent customer service with the best mixture of well-known and high-quality brands. Our product assortment is comprised of baby and children's clothes, shoes, toys, strollers, car seats, maternity clothes, accessories and much more for ages 0-10. Keep in mind that you can only use one discount code per order. Our discount codes can only be used once and then it is invalid. Our discount codes can also be linked to specific products or campaigns.Information about our offers and promotions is listed in one or more of the following: our ads, newsletters, and on our web shop Information about our offers and promotions are listed in one or more 
						</p>

						<p class="stext-113 cl6 p-b-26">
							We are a fast growing company and are constantly looking for talented people to work in our Stockholm headquarters, our state-of-the-art automated warehouse in Jönköping, our London office and in any of our retail stores in Sweden or Norway. Lekmer is part of The Babyshop Group; including Babyshop.com, Lekmer.se, Alexandalexa.com and 13 physical stores in Norway and Sweden. Babyshop Group is today a leading global omni-channel retailer with a total turnover of 1 billion SEK.
						</p>

						<p class="stext-113 cl6 p-b-26">
							We reserve the right to change the expiration date of an offer. We reserve the right to limit an offer for a specific product.
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'website/images/about-01.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							We offer fast shipping worldwide! We have provided delivery details for 50+ countries below. If you don't find your country in the list, you can still find shipping options, costs, and times in the checkout page. And of course, you can always contact our customer service if you have further questions.If you want to change your shipping address, contact our customer service as soon as possible. In order to keep our fast delivery times, your order will be processed as soon as it has entered our system. Therefore, we cannot guarantee we can make the change.In case of any delay, you will be entitled to cancel the purchase if you are not satisfied with the new delivery time. If you want to cancel your purchase due to delayed delivery and receive a refund, the money will be returned to the payment method you specified when you made your order.

						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Once your order has been shipped from our warehouse, we will send a delivery confirmation by email with tracking number / package ID. By clicking the tracking link in the delivery confirmation you will be directed to the courier website, which will display the latest information about your delivery.
							</p>

							<span class="stext-111 cl8">
								- Kupat busuak 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'website/images/about-02.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		

	{% endblock %}